[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
scrapy = "*"
pymongo = "*"
pymysql = "*"
scrapy-redis = "*"

[requires]
python_version = "3.8"
